body {
  background-color: #0d0d0d;
  font-size: 19px;
  font-family: system-ui;
}

h1 {
  color: purple;
  font-size: 28px

}

p {
  color: blue
}

div{
  background-color: #262626;
  width: 500px;
  height: 200px
}

span{
  color: yellow

}
